<!-- Modal do SASS -->
@if ((openModal)) {
    <section class="modalSASS">
        <div class="modal">
            <div class="descricaoPlaneta">
                <div class="descricao">
                    <h1 class="linguagem">Linguagem|tecnologia: SASS</h1>
                    <h2 class="planeta">Planeta associado: Zeltros</h2>
                    <p class="textoDescricao">Descrição:</p>
                    <p class="descricaoZeltros">Zeltros, o mundo das cores vibrantes e do estilo exuberante, representa o Sass: a ferramenta que transforma o CSS básico em uma experiência completa, organizada e cheia de recursos, com variáveis, aninhamento e mixins que elevam a estilização a outro nível.</p>
                </div>
                <div class="planetaLinguagem">
                    <img src="assets/images/Zeltros_SASS.png" alt="Planeta Zeltros." class="planetaZeltros">
                    <img src="assets/images/Icone_SASS.png" alt="Ícone do SASS." class="iconeSASS">
                </div>
            </div>
            <div class="botaoFechar">
                <button type="button" class="botao" (click)="closeModal()">Fechar</button>
            </div>
        </div>
    </section>
}