<!-- Modal do Python -->
@if ((openModal)) {
    <section class="modalPython">
        <div class="modal">
            <div class="descricaoPlaneta">
                <div class="descricao">
                    <h1 class="linguagem">Linguagem|tecnologia: Python</h1>
                    <h2 class="planeta">Planeta associado: Endor</h2>
                    <p class="textoDescricao">Descrição:</p>
                    <p class="descricaoEndor">Endor, com sua natureza expansiva e comunidade acolhedora (os Ewoks!), representa o Python: uma linguagem acessível e versátil, perfeita para construir a lógica de BackEnd de forma legível e poderosa, pronta para qualquer tarefa, do básico ao complexo.</p>
                </div>
                <div class="planetaLinguagem">
                    <img src="assets/images/Endor_Python.png" alt="Planeta Endor." class="planetaEndor">
                    <img src="assets/images/Icone_Python.png" alt="Ícone do Python." class="iconePython">
                </div>
            </div>
            <div class="botaoFechar">
                <button type="button" class="botao" (click)="closeModal()">Fechar</button>
            </div>
        </div>
    </section>
}