<!-- Cabeçalho -->
<header class="cabecalho">
    <nav>
        <ul class="links">
            <li><a routerLink="/" class="link">{{ 'cabecalho.linkHome' | translate }}</a></li>
            <li><a routerLink="/projetos" class="link">{{ 'cabecalho.linkProjetos' | translate }}</a></li>
            <li><a routerLink="/sobreMim" class="link">{{ 'cabecalho.linkSobreMim' | translate }}</a></li>
            <select name="idioma" id="idioma" #idioma (change)="mudarIdioma(idioma.value)">
                <option value="pt" class="opcoes">Português</option>
                <option value="en" class="opcoes">English</option>
            </select>
        </ul>
    </nav>
</header>