<!-- Cabeçalho -->
<header class="cabecalho" role="banner">
    <nav aria-label="Navegação principal">
        <ul class="links" role="list">
            <li><a routerLink="/" class="link" tabindex="0">{{ 'cabecalho.linkHome' | translate }}</a></li>
            <li><a routerLink="/projetos" class="link">{{ 'cabecalho.linkProjetos' | translate }}</a></li>
            <li><a routerLink="/sobreMim" class="link">{{ 'cabecalho.linkSobreMim' | translate }}</a></li>
            <li>
                <label for="idioma" class="labelLeitorTela">Selecionar idioma</label>
                <select name="idioma" id="idioma" #idioma (change)="mudarIdioma(idioma.value)" aria-label="Selecionar idioma">
                    <option value="pt" class="opcoes">Português</option>
                    <option value="en" class="opcoes">English</option>
                </select>
            </li>
        </ul>
    </nav>
</header>