<!-- Página de projetos Fullstack individuais -->
@if (projetoSelecionado) {
    <main id="projetosIndividuais">
        <div class="nomeProjeto">
            <img [src]="projetoSelecionado.holocronJedi" alt="Holocron Jedi" class="holocron corHolocronJedi">
            <h1 class="nome">{{ 'projetosIndividuais.projeto' | translate }}: {{ ('projetosFullStack.' + projetoSelecionado.id + '.nome') | translate }}</h1>
            <img [src]="projetoSelecionado.holocronSith" alt="Holocron Sith" class="holocron corHolocronSith">
        </div>
        <div class="logo">
            <img [src]="projetoSelecionado.logoProjeto" alt="Logo do projeto.">
        </div>
        <div class="descricaoProjeto">
            <p class="descricao">{{ ('projetosFullStack.' + projetoSelecionado.id + '.descricao') | translate }}</p>
        </div>
        <h2 class="tituloFerramentas">{{ 'projetosIndividuais.projeto' | translate }}</h2>
        <div class="ferramentasProjeto">
            <img [src]="ferramenta" [alt]="imagemALT(ferramenta)" *ngFor="let ferramenta of ferramentas">
        </div>
    </main>
}