<!-- Página de projetos BackEnd individuais -->
@if (projetoSelecionado) {
    <main id="projetosIndividuais">
        <div class="nomeProjeto">
            <img [src]="projetoSelecionado.holocronSith" alt="Holocron Sith" class="holocron corHolocronSith">
            <h1 class="nome">Projeto: {{ projetoSelecionado.nomeProjeto }}</h1>
            <img [src]="projetoSelecionado.holocronSith" alt="Holocron Sith" class="holocron corHolocronSith">
        </div>
        <div class="logo">
            <img [src]="projetoSelecionado.logoProjeto" alt="Logo do projeto.">
        </div>
        <div class="descricaoProjeto">
            <p class="descricao">{{ projetoSelecionado.descricaoProjeto }}</p>
        </div>
        <h2 class="tituloFerramentas">Ferramentas/tecnologias</h2>
        <div class="ferramentasProjeto">
            <img [src]="ferramenta" [alt]="imagemAlt(ferramenta)" *ngFor="let ferramenta of ferramentas">
        </div>
    </main>
}