/* Estilização padrão */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
}

/* Fonte dos títulos */
@font-face {
    font-family: "Orbitron";
    src: url("../assets/fonts/Orbitron-Regular.ttf") format("truetype");
}

/* Fonte padrão do site */
@font-face {
    font-family: "Quantico";
    src: url("../assets/fonts/Quantico-Regular.ttf") format("truetype");
}

/* Adicionando a imagem de fundo nas páginas */
body {
    background-image: url("../assets/images/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}