<!-- Página de projetos -->
<main>
    <section id="projetos">
        <div class="projetosRealizados">
            <h1 class="tituloProjetos">{{ 'projetos.tituloProjetos' | translate }}</h1>
            <p class="descricaoProjetos">{{ 'projetos.descricaoProjetos' | translate }}</p>
        </div>
        <div class="frontEnd">
            <h2 class="tituloFrontEnd">FrontEnd</h2>
            <div class="holocronsFrontEnd">
                <div *ngFor="let projeto of projetosFrontEnd">
                    <a [routerLink]="['/projetos/frontend', projeto.id]"><img [src]="projeto.holocronJedi" alt="Holocron Jedi." class="holocron corHolocronJedi"></a>
                </div>
            </div>
        </div>
        <div class="backend">
            <h2 class="tituloBackEnd">BackEnd</h2>
            <div class="holocronsBackEnd">
                <div *ngFor="let projeto of projetosBackEnd">
                    <a [routerLink]="['/projetos/backend', projeto.id]"><img [src]="projeto.holocronSith" alt="Holocron Sith" class="holocron corHolocronSith"></a>
                </div>
            </div>
        </div>
        <div class="fullstack">
            <h2 class="tituloFullstack">Fullstack</h2>
            <div class="holocronsFullstack">
                <div *ngFor="let projeto of projetosFullstack; let i = index">
                    <a [routerLink]="['/projetos/fullstack', projeto.id]"><img [src]="i % 2 === 0 ? projeto.holocronJedi : projeto.holocronSith" [alt]="i % 2 === 0 ? 'Holocron Jedi' : 'Holocron Sith'" [ngClass]="i % 2 === 0 ? 'corHolocronJedi1' : 'corHolocronSith1'" class="holocron"></a>
                </div>
            </div>
        </div>
    </section>
</main>