/* Estilizando a página de projetos para exibir em telas menores */
#projetos {
    margin: 0 auto;
    max-width: 90rem;
}

/* Estilizando a seção de título e narrativa dos projetos */
.projetosRealizados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
}

/* Estilizando o título de projetos realizados */
.tituloProjetos {
    text-align: center;
    color: #FFEA00;
    font-family: "Orbitron", sans-serif;
    margin-bottom: 2.5rem;
}

/* Estilizando a descrição dos projetos realizados */
.descricaoProjetos {
    text-align: justify;
    width: 81.5625rem;
    height: auto;
    font-size: 1.125rem;
}

/* Estilizando a seção de projetos FrontEnd */
.frontEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

/* Estilizando o título de FrontEnd */
.tituloFrontEnd {
    text-align: center;
    margin-bottom: 1.875rem;
    color: #FFEA00;
    font-size: 1.875rem;
    font-family: "Orbitron", sans-serif;
}

/* Estilizando as imagens dos holocrons de FrontEnd (Jedi) */
.holocronsFrontEnd {
    display: flex;
    flex-wrap: wrap;
    width: 76.875rem;
    gap: 3.75rem;
}

/* Definindo uma estilização padrão para todos os holocrons Jedi */
.holocron {
    box-shadow: inset 0 0 3.75rem transparent;
    border-radius: 1.875rem;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.holocron:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Adicionando uma cor para cada holocron */
.corHolocronJedi1:hover {
    box-shadow: inset 0 4px 4.375rem #0073E6, 0 0 5.625rem #0073E6;
}

.corHolocronJedi2:hover {
    box-shadow: inset 0 4px 4.375rem #00D05E, 0 0 5.625rem #00D05E;
}

.corHolocronJedi3:hover {
    box-shadow: inset 0 4px 4.375rem #A500E6, 0 0 5.625rem #A500E6;
}

.corHolocronJedi4:hover {
    box-shadow: inset 0 4px 4.375rem #FCEB00, 0 0 5.625rem #FCEB00;
}

.corHolocronJedi5:hover {
    box-shadow: inset 0 4px 4.375rem #F0F0F0, 0 0 5.625rem #F0F0F0;
}

.corHolocronJedi6:hover {
    box-shadow: inset 0 4px 4.375rem #0073E6, 0 0 5.625rem #0073E6;
}

/* Estilizando o título de BackEnd */
.tituloBackEnd {
    text-align: center;
    margin: 1.875rem 0;
    color: #FFEA00;
    font-size: 1.875rem;
    font-family: "Orbitron", sans-serif;
}

/* Estilizando as imagens dos holocrons de BackEnd (Sith) */
.holocronsBackEnd {
    display: flex;
    flex-wrap: wrap;
    width: 76.875rem;
    gap: 1.5625rem;
}

/* Adicionando uma cor para cada holocron */
.corHolocronSith1:hover {
    box-shadow: inset 0 4px 7.5rem #FF0000, 0 0 5.625rem #FF0000;
}

.corHolocronSith2:hover {
    box-shadow: inset 0 4px 7.5rem #4D0000, 0 0 5.625rem #4D0000;
}

.corHolocronSith3:hover {
    box-shadow: inset 0 4px 7.5rem #8B0000, 0 0 5.625rem #8B0000;
}

.corHolocronSith4:hover {
    box-shadow: inset 0 4px 7.5rem #CC4400, 0 0 5.625rem #CC4400;
}

.corHolocronSith5:hover {
    box-shadow: inset 0 4px 7.5rem #990000, 0 0 5.625rem #990000;
}

.corHolocronSith6:hover {
    box-shadow: inset 0 4px 7.5rem #A80000, 0 0 5.625rem #A80000;
}