/* Estilizando a página Sobre Mim para exibir em telas menores */
#sobreMim {
    margin: 0 auto;
    max-width: 90rem;
}

/* Estilizando a seção sobre mim */
.sobreMimSection {
    display: flex;
    gap: 6.25rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 3.125rem;
}

/* Estilizando o título e a descrição sobre mim */
.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.8125rem;
}

/* Estilizando o título sobre mim */
.textoSobreMim {
    color: #FFEA00;
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
}

/* Estilizando a descrição sobre mim */
.descricaoSobreMim {
    width: 34.375rem;
    height: auto;
    font-size: 1rem;
}

/* Estilizando a área de jogos favoritos */
.jogosFavoritos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilizando o título de jogos favoritos */
.tituloJogosFavoritos {
    margin: 2.5rem 0;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Orbitron", sans-serif;
    color: #FFEA00;
}

/* Estilizando o carrossel de jogos */
.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1.875rem;
}

/* Estilizando os botões de voltar e avançar */
.botaoVoltar button, .botaoAvancar button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    margin: 0 1.875rem;
}

/* Estilizando o carrossel interno */
.cardJogos {
    display: flex;
    gap: 3.125rem;
}

.jogos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    width: 13.75rem;
    min-height: 26rem;
}

/* Exibe o nome do jogo, apenas ao passar o mouse por cima da imagem */
.imagemJogo:hover ~ .nomeJogo {
    transform: translateY(0);
    opacity: 1;
}

/* Estilizando a capa de jogos */
.imagemJogo {
    box-shadow: 0 10px 15px #00D05E;
    transition: transform 0.2s ease-in-out;
    max-width: 13.75rem;
    height: 20.625rem;
    object-fit: cover;
}

.imagemJogo:hover {
    transform: scale(1.02);
}

/* Estilizando o nome do jogo */
.nomeJogo {
    transform: translateY(-5px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-size: 1.125rem;
    cursor: default;
    user-select: none;
}