<!-- Modal do TypeScript -->
@if ((openModal)) {
    <section class="modalTypeScript">
        <div class="modal">
            <div class="descricaoPlaneta">
                <div class="descricao">
                    <h1 class="linguagem">Linguagem|tecnologia: TypeScript</h1>
                    <h2 class="planeta">Planeta associado: Jedha</h2>
                    <p class="textoDescricao">Descrição:</p>
                    <p class="descricaoJedha">Jedha, a fonte do Cristal Kyber e da estrutura de crença Jedi, representa o TypeScript: a linguagem que traz ordem, tipagem e fundação robusta ao JavaScript, garantindo a solidez e a previsibilidade essenciais para grandes projetos.</p>
                </div>
                <div class="planetaLinguagem">
                    <img src="assets/images/Jedha_TypeScript.png" alt="Planeta Jedha." class="planetaJedha">
                    <img src="assets/images/Icone_TypeScript.png" alt="Ícone do TypeScript." class="iconeTypeScript">
                </div>
            </div>
            <div class="botaoFechar">
                <button type="button" class="botao" (click)="closeModal()">Fechar</button>
            </div>
        </div>
    </section>
}